<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug only: lets `adb shell am broadcast` draw the widgets with demo data. -->
        <receiver
            android:name=".DemoWidgetsReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:ignore="ProtectedPermissions" />
    </application>
</manifest>
